<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haz.eventplanning">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventPlanning"
        tools:targetApi="31">
        <activity
            android:name=".ShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".TodolistActivity"
            android:exported="false" />
        <activity
            android:name=".GuestActivity"
            android:exported="false" />
        <activity
            android:name=".EventsActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".FoodActivity"
            android:exported="false" />
        <activity
            android:name=".VenueActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".NavbarActivity"
            android:exported="false"
            android:label="@string/title_activity_navbar"
            android:theme="@style/Theme.EventPlanning.NoActionBar" />
        <activity
            android:name=".ExitActivity"
            android:exported="false" />
        <activity
            android:name=".CancelActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".EquipmentsActivity"
            android:exported="false" />
        <activity
            android:name=".LogOutActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>